@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content:space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4px;
    transform: translateY(-45%);
    z-index: -1;
}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    width: 0%;
    height: 4px;
    transform: translateY(-45%);
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active{
    border-color: var(--line-border-fill);
    transition: 0.4s ease;
}

.btn{
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    transition: 0.2s ease;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    transform: none;
    cursor: not-allowed;
}

@media(max-width: 400px){
    .container{
        position: relative;
    }
    .progress-container{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        max-width: 100%;
        width: auto;
        max-height: 100%;
        height: 350px;
    }
    .progress-container::before{
        height: 100%;
        width: 4px;
        transform: translateY(-50%);
    }
    .progress{
        top: 0;
        left: 50%;
        width: 4px;
        height: 0%;
        transform: translateX(-50%);
    }
    .btn{
        position: absolute;
        top: 45%;
        left: 150%;
    }
    .btn#prev{
        left: -380%;
        
    }   
}
@media(max-width: 255px){
    .btn{
        position: absolute;
        top: -15%;
        left: -118%;
    }
    .btn#prev{
        top: 102%;
        left: -115%;
    } 
}